@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --border: 229 231 235;

    --background: 250 250 250;
    --foreground: 38 38 38;
    --foreground-muted: 110 108 128;

    --primary: 204 41 54;
  }

  .dark {
    --border: 60 60 60;

    --background: 18 18 18;
    --foreground: 250 250 250;
    --foreground-muted: 130 128 148;

    --primary: 204 41 54;
  } 
}

@layer base {
  * {
    @apply border-border;
  }

  img {
    @apply h-auto block max-w-full;
  }

  body {
    @apply h-dvh w-full overflow-x-hidden bg-background text-foreground antialiased; 
  }
}